/* General */

body {
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 2em;
    font-weight: 400;
}

.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* Header */

header {
    color: white;
    background-color: black;
    width: auto;
    height: 100vh;
}

.logo {
    position: relative;
    top: 20%;
    height: 50%;
}

.logo img {
    width: 30%;
    height: auto;
}

.social {
    position: relative;
    top: 20%;
}

/* Projects */

.projects {
    width: 80%;
    margin: 0 auto;
}

/* Desktop media query */

@media only screen and (min-width: 1000px) {
    .logo img {
        width: 150px;
    }
  }