body {
    margin: 0;
    color: white;
    background-color: black;
}

.center {
    width: auto;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.hero {
    width: 100vw;
    height: 100vh;
}

.logo {
    position: relative;
    top: 20%;
    height: 50%;
}

.logo img {
    width: 30%;
    height: auto;
}

.social {
    position: relative;
    top: 20%;
}

@media only screen and (min-width: 1000px) {
    .logo img {
        width: 150px;
    }
  }